.landing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url(../../../assets/images/landing-bg-1.svg), url(../../../assets/images/landing-bg-2.svg);
  background-position: 0 0, 100% 100%;
  background-repeat: no-repeat;

  @media screen and (max-width: 768px) {
    background-image: none;
  }

  &.scroll-landing {
    width: 100%;
    height: 100%;
  }

  .landing-page-wrapper {
    height: 100%;
    width: 100%;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }

  .titlePane-panel {
    width: 100%;
    padding: 0 40px;
    height: 80px;
  }

  .landing-container-title {
    font-weight: 400;
    margin-top: 4rem;
    width: 100%;
    text-align: center;

    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }

  .landing-container-body {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;

    & > .euiFlexGroup--gutterExtraLarge {
      margin-right: 0;
      margin-left: 0;

      & > .euiFlexItem {
        margin: 1.5rem 2.75rem;
      }
    }
  }

  .landing-container-wrapper-footer {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 32px 0;

    @media screen and (max-width: 768px) {
      padding: 24px 0;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
    }

    .euiLink {
      color: #98a2b3;
      font-size: 12px;
      padding: 0 32px;

      @media screen and (max-width: 768px) {
        padding: 0;
      }
    }
  }

  .landing-container-logo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: 2rem;
    padding: 1.55rem;
    margin: 0 auto 10px;
    height: 96px;
    width: 96px;
    border-radius: 46px;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: #fff;

    @media only screen and (max-width: 574px) {
      height: 72px;
      width: 72px;
      border-radius: 35px;
      padding: 1.3rem;
    }

    @media only screen and (max-width: 767px) and (min-width: 575px) {
      height: 72px;
      width: 72px;
      border-radius: 35px;
      padding: 1.3rem;
    }

    .loading-indicator {
      position: absolute;
      top: 0;
      left: 0;
      height: 96px;
      width: 96px;
      border-radius: 46px;

      @media only screen and (max-width: 574px) {
        height: 72px;
        width: 72px;
      }

      @media only screen and (max-width: 767px) and (min-width: 575px) {
        height: 72px;
        width: 72px;
      }
    }

    .euiIcon {
      height: 100%;
      width: 100%;
    }
  }
}

.authentication-page-container {
  -ms-flex-line-pack: center;
  align-content: center;
}

.authentication-feed-container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 80px;
  min-width: 22.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  @media screen and (max-width: 992px) {
    display: none;
  }

  img {
    max-width: 22.5rem;
  }
}

.authentication-form-container {
  width: 22.5rem;

  @media screen and (max-width: 575px) {
    width: auto;
  }
}

.landing-image {
  -ms-flex-preferred-size: 22.5rem;
  flex-basis: 22.5rem;

  .euiIcon {
    min-width: 100%;
  }
}